@keyframes box {
   20% {
      opacity: 0.2;
   }
   40% {
      opacity: 0.4;
   }
   60% {
      opacity: 0.6;
   }
   80% {
      opacity: 0.4;
   }
   90% {
      opacity: 0.2;
   }
   100% {
      opacity: 0;
   }
}
