body{
	background-color: #eaeaea;
	font-family: 'Josefin Sans', sans-serif;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
li{
	padding: 0;
	margin: 0;
}
.button{
	color: #000000;
	font-family: "Josefin Sans",sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	line-height: 20px;
	height: 36px;
	padding: 10px;
	line-height: auto;
	display: inline-block;
	border: 1px solid #c2c2c2;
	background-color: #f7f7f7;
	cursor: pointer;
}
.container{
	max-width: 1120px;
	margin: 0 auto;
	position: relative;
}
.first-img{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.first-img img{
	margin: 0 auto;
	margin-top: 250px;
	margin-bottom: 119px;
}

/*first-img*/
.header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between; -ms-align-items: center;
	align-items: center;
	background-color: #f8f8f8;
	box-shadow: 0 0 13px rgba(11, 12, 12, 0.15);
	padding: 34px 94px;
}
button:focus{
	outline: none;
}
input:focus{
	outline: none;
}
li{
	list-style: none
}
.logo-image{
	margin-top: 5px;
}
.menu-list>li{
	margin-right: 20px;
}
.menu-link{
	text-decoration: none;
	color: #000;
}
.sub-menu-link{
	text-decoration: none;
	color: #000;
}
.sub-menu-link:hover{
	color: #000;
	text-decoration: underline;
	font-weight: 400;
}
.menu-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.menu-link{
	position: relative;
	text-transform: uppercase;
}
.sub-menu-list{
	display: none;
	position: absolute;
	padding: 19px 0 0 0;
	margin-right: 20px;
	transform: translateX(-40px);
	z-index: 10;
}
.sub-menu-list-shadow{
	box-shadow: 1px 3px 7px rgba(11, 12, 12, 0.14);
}
.sub-menu-list li{
	padding-left: 20px;
	padding-right: 20px;
}
.sub-menu-list li:first-child{
	padding-top: 10px;
}
.menu-list>li:hover .sub-menu-list{
	display: block;
}
.sub-menu-link{
	color: #b7b7b7;
	font-family: "Josefin Sans",sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 32px;
	text-transform: uppercase;
	padding: 
}
.s{
	padding: 0 40px;
	border: 1px solid #c2c2c2;
}
.header-search{
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	background-color: #f8f8f8;	
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.3px;
	width: 122px;
	height: 28px;
	text-align: center;
	color: #000;
	padding-left: 10px;
}

.fas{
	position: absolute;
	padding: 9px 25px;
	color: #c1c1c1;
	font-size: 12px;
}
/*header*/

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.slider{
	background-color: #f8f8f8;
	margin-top: 86px;
	box-shadow: 0 0 13px rgba(11, 12, 12, 0.15);
}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
/*slidebar*/

.slider .slick-dots{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 12px;
	bottom: 17px;
}
.slider .slick-dots li{
 	list-style: none;
 	margin: 0 8px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
}
.slider li.slick-active button{
	background-color: #555555;
	outline:none;
}
.active3{
	background-color: #000;
}
.slider__item{
	background: #fff url(../img/Photo.png)  right -7px no-repeat;
	position: relative;
}
.slider__item-title{
	color: #921026;
	font-family: "Playfair Display",sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.6px;
	margin-top: 25px;
	margin-bottom: 24px;
}
.slider__item-text{
	color: #000000;
	font-family: "Josefin Sans",sans-serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
	max-width: 352px;
	margin-bottom: 25px;
}
.slider__item-all{
	position: relative;
	margin-top: 49px;
	margin-left: 91px;
	margin-bottom: 36px;
}

/*Конкретный слайдер */

.receptes{
	background-color: #ffffff;
	margin: 85px 0;
	padding-top: 40px;
	padding-left: 53px;
	padding-bottom: 50px;
	padding-right: 53px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.receptes-blocks{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.receptes-blocks-item{
	max-width: 313px;
}
.receptes-blocks-item-img{
	margin-bottom: 9px;
}
.receptes-blocks-item-title{
	margin-bottom: 5px;
	color: #000000;
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.45px;
}
.receptes-blocks-item-panel i{
	color: #555555;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.33px;
}
.receptes-blocks-item-panel-time{
	color: #555555;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px
	
}
.receptes-blocks-item-panel-time span{
	border-right: 1px solid #6f6f6f;
	padding-right: 3px;
}
.receptes-blocks-item-panel-coments{
		color: #555555;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px
}
.receptes-blocks-item-panel-vievs{
	color: #555555;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}
/*receptes*/
	
.eatinfo{
	background-color: #fff;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 140px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
	position: relative;
}
.eatinfo-mini{
	position: absolute;
	width: 49px;
	height: 62px;
	background-color: #000;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	left: 450px;
}
.eatinfo-allinfo{
	width: 100%;
	padding: 37px 36px;
}
.eatinfo-allinfo-lvl-time-left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.eatinfo-allinfo-lvl{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.eatinfo-allinfo-lvl-time{
	margin-right: 8px;
}
.eatinfo-allinfo-lvl-ehn{
	margin-right: 9px;
}
.eatinfo-allinfo-lvl-ehn span{
	width: 5px;
	display: inline-block;
	margin-right: -3px;
}
.eatinfo-allinfo-lvl-ehn-1{
	height: 11px;
	background-color: #555555;
}
.eatinfo-allinfo-lvl-ehn-2{
	height: 15px;
	background-color: #555555;
}
.eatinfo-allinfo-lvl-ehn-3{
	height: 19px;
	background-color: #555555;
}
.eatinfo-allinfo-lvl-ehn-4{
	border: 1px solid #555555;
	height: 24px;
	background-color: #fff;
}
.eatinfo-allinfo-lvl-time span{
	color: #555555;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
}
.eatinfo-allinfo-lvl-time-left-nhe{
	color: #555555;
	font-family: "Josefin Sans";
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.45px;
}
.eatinfo-allinfo-lvl-time i{
	color: #555555;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.43px;
}
.eatinfo-allinfo-lvl-time-right button{
	background-color: #fff;
	color: #000000;
	font-weight: 400;
}
.eatinfo-allinfo-text{
	margin-top: 26px;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 19px;
	font-weight:300;
	letter-spacing: 0.4px;
	overflow: auto;
	height: 265px;
}
.eatinfo-allinfo-text span{
	font-family: "Playfair Display";
	font-weight: 700;
	letter-spacing: 0.4px;
	margin:  35px 0;
}
.eatinfo-allinfo-text p:nth-child(2){
	margin-bottom: 15px;
}
.eatinfo-allinfo-text-mar{
	margin-top: 15px;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #dddddd; 
}
::-webkit-scrollbar-thumb {
  background: #555555; 
}

/*eatinfo*/
.Eror{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.Eror-block-left{
	background: #fff url(../img/Photo6.png) 0 0 no-repeat;
	height: 518px;
	width: 518px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.Eror-block-left-all{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
.Eror-block-left-all-2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 165px;
	margin-left: 20px;
}
.Eror-block-left-title{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 1.22px;
}
.Eror-block-left-text{
	color: #a9a9a9;
	font-family: 'Playfair Display', sans-serif;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.58px;
	margin-bottom: 10px;
	margin-top: 4px;
	text-align: center;
}
.Eror-block-left-all-line404{
	margin-top: 23px;
	padding-bottom: 4px;
	border-bottom: 2px solid #e6e6e6;
	width: 440px;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.Eror-block-right{
	background-color: #ffffff;
	height: 518px;
	width: 518px;
	padding: 0 33px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.Eror .button{
	background-color: #fff;
	padding-right: 40px;
	padding-left: 40px;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	margin: 0 auto;
	display: block;
	margin-top: 110px;
}
.Eror-block-left a{
	text-decoration: none;
}
.Eror-block-right-author{
	border-bottom: 2px solid #e6e6e6;
	margin-top: 24px;
	padding-bottom: 5px;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.Eror-block-right-all{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.Eror-block-right-author{
	margin-bottom: 24px;
}
.Eror-block-right-all-info{
	margin-left: 20px;
}
.Eror-block-right-all-info-line{
	height: 2px;
	width: 307px;
	background-color: #dddddd;
	margin-bottom: 25px;
}
.Eror-block-right-all-info-title{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.6px;
	margin-bottom: 6px;
}
.Eror-block-right-all-info-subtitle{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}
.Eror-block-right-all-info-socset i{
	color: #aaaaaa;
	margin-top: 6px;
	margin-bottom: 15px;
	margin-right: 14px;
}
.Eror-block-right-all-info-title2{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
	margin-bottom: 26px;
}
.Eror-block-right-all-info-text{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
}
.Eror-block-right-all-info-signature{
	margin-top: 20px;
	margin-left: 150px;
}
/*Eror*/	
.alotof{
	margin-top: 78px;
	display: -webkt-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}	
.alotof>div{
	background-color: #eaeaea;
	width: 290px;
}
.alotof>div:nth-child(1){
	width: 289px;
}

.taglineup-line{
	background-color: #dddddd;
	height: 2px;
	width: 252px;
	color: #000;
	display: block;
	margin: 0 auto;
}
#alotof-oneb{
	color: #055555;
	font-family: "Playfair Display";
	font-size: 22px;
	font-weight: 900;
	letter-spacing: 0.55px;
	padding-bottom: 8px;
}
.alotof-one-chi{
	padding-top: 27px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.alotof-one-chi-info-imgw{
	margin-right: 10px;
}
.alotof-one-chi-info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-left: 23px;
	padding-right: 25px;
	text-align: left;
	margin-top: 10px;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 12px;
}
.alotof-one-chi-info-block-why{
	font-family: "Josefin Sans";
	font-weight: 300;
	letter-spacing: 0.4px;
}
.alotof-one-chi-info-block-name{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 700;
}
.alotof-one-chi-slider{
	position: relative;
}
.alotof-one-chi-slider .slick-dots{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	position: absolute;
	bottom: 0;
	left: 31%;
	bottom: 10px
}
.alotof-one-chi-slider .slick-dots li{
 	list-style: none;
 	margin: 0 8px;
}
.alotof-one-chi-slider .slick-dots button{
	font-size: 0;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
}
.alotof-one-chi-slider li.slick-active button{
	background-color: #555555;
	outline:none;
}
.alotof-one-target .alotof-one-chi-title-name p{
	margin-left: -0.1px;
}
.alotof-one-target{
	margin-top: 48px;
	background-color: #fff;
	width: 290px;
	padding-top: 36px;
	padding-left: 17px;
	padding-right: 21px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.alotof-one-chi-title-name{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.alotof-one-chi-title-name-df{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.alotof-one-chi-title-name-soc a{
	font-size: 16px;
	color: #555555;
}
.alotof-one-target-subtitle{
	color: #055555;
	font-family: "Playfair Display";
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 0.5px;
	margin-top: 10px;
	display: block;
	margin-bottom: 35px;
}
.progress-ring__circle{
	transform-origin: center;
	transform: rotate(-50deg);	
}
.progress-ring__circle2{
	transform-origin: center;
	transform: rotate(-130deg);	
}
.progress-ring__circle3{
	transform-origin: center;
	transform: rotate(0deg);	
}
.progress-ring{
	margin-bottom: 46px;
}
.alotof-one-target-progressbar-bar{
	position: relative;
	z-index: 2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.cirr{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 60px;
	width: 60px;
	background-color: #000;
	border-radius: 50%;
	border: 4px solid #f7f7f7;
	background: transparent;
	position: absolute;
	top: 0.3px;
	left: 0px;
	z-index: -1;
	padding-left: 6px;
	padding-top: 4px;

	color: #959595;
	font-family: "Josefin Sans";
	font-size: 21px;
	font-weight: 300;
	letter-spacing: 1.5px;
}

.cirr2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 60px;
	width: 60px;
	background-color: #000;
	border-radius: 50%;
	border: 4px solid #f7f7f7;
	background: transparent;
	position: absolute;
	top: 106px;
	left: 0px;
	z-index: -1;
	padding-left: 6px;
	padding-top: 4px;

	color: #959595;
	font-family: "Josefin Sans";
	font-size: 21px;
	font-weight: 300;
	letter-spacing: 1.5px;
}
.cirr3{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 60px;
	width: 60px;
	background-color: #000;
	border-radius: 50%;
	border: 4px solid #f7f7f7;
	background: transparent;
	position: absolute;
	top: 213px;
	left: 0px;
	z-index: -1;
	padding-left: 6px;
	padding-top: 4px;

	color: #959595;
	font-family: "Josefin Sans";
	font-size: 21px;
	font-weight: 300;
	letter-spacing: 1.5px;
}
.sss{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.alotof-one-target-progressbar-bar-text{
	padding-left: 25px;
}
.alotof-one-target-progressbar-bar-text span{
	color: #555555;
	font-family: "Josefin Sans";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.45px;
}
.alotof-one-target-progressbar-bar-text p{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.35px;
	position: absolute;
	margin-top: 6px;
}
/*alotof-one*/
.alotof-two{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.alotof-two-recept .alotof-one-chi-title-name p{
	margin-left: -0.1px;
}
.alotof-two-recept{
	padding-left: 12px;
	padding-right: 20px;
	background-color: #fff;
	margin-left: 23px;
	width: 290px;
	padding-top: 28px;
	padding-bottom: 26px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.alotof-two-recept button{
	background-color: #fff;
	margin-left: 160px;
	margin-top: 30px;	
}
.alotof-two-recept .alotof-one-chi-title-name{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.alotof-two-recept-lvls{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	margin-top: 15px;
}
.alotof-two-recept-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	margin-top: 26px;
}
.alotof-two-recept-block-info-span{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.3px;	

}
.alotof-two-recept-block-info p{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0.4px;
	margin-top: 5px;
}
.alotof-two-recept-block img{
	margin-right: 16px;
}
.alotof-two-recept-block-info-span-by{
	font-family: "Josefin Sans";
	font-weight: 400;
	letter-spacing: 0.3px;

}
.alotof-two-tags{
	width: 290px;
	margin-left: 20px;
	background-color: #fff;
	margin-top: 48px;
	padding-top: 26px;
	padding-bottom: 16px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.alotof-one-chi-title-name p{
	margin-left: 17px;
}
.alotof-two-tags-text-tags{
	margin-top: 9px;
	padding-left: 14px;
	padding-right: 14px;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	line-height: 30px;
	word-spacing: 5px;
}
.alotof-two-calendar{
	background-color: #fff;
	margin-top: 47px;
	width: 290px;
	margin-left: 20px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
	padding-top: 26px;
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 35px;
}
.date-nav-buttons{
	height: 10000px;
}
.navForward1{
	height: 666px;
}
.tab-name{
	opacity: 0
}
.alotof-two-calendar .alotof-one-chi-title-name{
	margin-left: -17px;
}
.alotof-two-calendar-slider{
	position: relative;
	margin-top: 21px;
	margin-right: 15px;
	margin-left: 15px;
}

.alotof-two-calendar-slider .slick-arrow{
	position: absolute;
	top: 6px;
	z-index: 10;
	font-size: 0;
	height: 9px;
	width: 5px;

}
.alotof-two-calendar-slider .slick-arrow.slick-prev{
	left: 0;
	background: #fff url(../img/Left_Icon.png) 0 0 / 100% no-repeat;
}
.alotof-two-calendar-slider .slick-arrow.slick-next{
 	right: 0;
 	background: #fff url(../img/Right_Icon.png) 0 0/ 100% no-repeat;
}
.alotof-two-calendar-slider-item-month{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.45px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}  
.alotof-two-calendar-slider-item-week{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 28px;

}
.alotof-two-calendar-slider-item-column-all{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.alotof-two-calendar-slider-item-column p:first-child{
	text-decoration: underline;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 14px;
	font-weight: 400;
}
.alotof-two-calendar-slider-item-column p{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	word-spacing: 17px;
}
.alotof-two-calendar-slider-item-column span{
	color: #acacac;
	line-height: 40px;
}
/*alotof-two*/
.alotof-fre-popular{
	padding-top: 17px;
	padding-left: 18px;
	padding-right: 18px;
	background-color: #fff;
	background: #fff url(../img/Photo10.png) 0 0 no-repeat;
	padding-bottom: 123px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.alotof-fre-popular .taglineup-line{
	background-color: #fff;
}
.alotof-fre-timeline{
	padding-bottom: 48px;
}
.alotof-oneb2{
	color: #921026;
	font-family: "Playfair Display";
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 0.8px;
	padding-bottom: 10px;
}
.alotof-fre-popular-title{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.55px;
	display: block;
	margin-top: 17px;
	margin-bottom: 8px;
}
.alotof-fre-popular-text{
	color: #222222;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	margin-bottom: 14px;
	font-style: italic;
}
.alotof-fre-populal-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.alotof-one-chi-title-name p{
	font-style: italic;
}
.alotof-fre-timeline{
	background-color: #fff;
	margin-top: 48px;
	padding-top: 34px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.alotof-fre-timeline .alotof-one-chi-title-name{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-right: 30px;
}
.alotof-fre-timeline-title{
	color: #055555;
	font-family: "Playfair Display";
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 0.5px;
}
.alotof-fre-timeline-all{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 17px;
}
.alotof-fre-timeline-all-lines-item-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 40px;
}
.alotof-fre-timeline-all-lines-item-text{
	color: #555555;
	font-family: "Josefin Sans";
	font-size: 17px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.12px

}
.alotof-fre-timeline-all-lines-item-block-ln{
	height: 9px;
	width: 68px;
	background-color: #87d0c5;
	margin-right: 5px;
}
.alotof-fre-timeline-all-lines-item-block-ln2{
	height: 9px;
	width: 99px;
	background-color: #0d5959;
	margin-right: 5px;
}
.alotof-fre-timeline-all-lines-item-block-ln3{
	height: 9px;
	width: 131px;
	background-color: #b50051;
	margin-right: 5px;
}
.alotof-fre-timeline-all-lines-item-block-p{
	color: #555555;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.19px;
}
.alotof-fre-timeline-all-lines-item{
	transform: rotate(-90deg);
}
.alotof-fre-timeline-all-lasttext{
	color: #6a6a6a;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
	margin-top: 13px;
}
.alotof-fre-timeline-last .taglineup-line{
	width: 180px;
}
.alotof-fre-timeline-all-lasttext{
	padding-left: 23px;
	padding-right: 20px;
}
/*alotof-fre*/
/*alotof*/
.account{
	margin-top: 101px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.account-login{
	width: 328px;
	background-color: #fff;
	padding: 19px 22px;
	height: 416px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.account-login .taglineup-line{
	width: 271px;
}
.account-login .alotof-one-chi-title-name{
	margin-left: -14px;
}
.account-login-title{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
	margin-top: 28px;
	margin-bottom: 20px;
}
.account-login-input{
	padding: 10px 20px;
	box-shadow: inset 1px 2px 7px rgba(11, 12, 12, 0.37);
	border: 1px solid #c2c2c2;
	background-color: #ffffff;
	margin-bottom: 20px;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	font-style: italic;
}
input::-moz-placeholder {
 	color: #d0d0d0; 
}
input::-webkit-input-placeholder {
	color: #d0d0d0; 
}
.account-login-input2{
	padding: 10px 20px;
	border: 1px solid #c2c2c2;
	background-color: #ffffff;
	color: blue;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	font-style: italic;
}
.logbut{
	width: 13px;
	height: 13px;
	border-radius: 30%;
	border: 1.5px solid #d0d0d0;
	background-color: #fff;
}
.account-login-rem{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-top: 16px;
}
.account-login-rem-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.account-login-rem-help{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
	opacity: 0.64;
	margin-left: 3px;
	line-height: 1;
	height: 8px;
	text-decoration: none;
}
.account-login-rem-forgot{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
	opacity: 0.64;
	line-height: 1;
	height: 8px;
	text-decoration: none;
}
.button-login{
	display: block;
	background-color: #fff;
	padding-left: 40px;
	padding-right: 40px;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	margin: 42px auto 0 auto;
}
.account-login-a-btn{
	text-decoration: none;
}
.account-login-socset{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 21px;
	margin-left: 20px;
}
.account-login-socset a{
	margin-right: 22px;
	color: #555555;
	font-family: "Font Awesome";
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.account-login-socset a:last-child{
	font-size: 26px;
}
.account-login-question{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	text-align: center;
	opacity: 0.64;
	margin-top: 5px;
	margin-bottom: 1px;

}
.account-login-question-a{
	color: #002dd6;
}
.account-signin{
	width: 328px;
	background-color: #fff;
	padding: 19px 22px;
	margin-left: 87px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.account-signin-title{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
	margin-top: 24px;
	display: block;
	margin-bottom: 23px;
}
.account-signin .taglineup-line{
	width: 271px;
}
.account-signin .account-login-input2:not(:last-child){
	margin-bottom: 15px;
}
.account-signin .account-login-question{
	text-align: left;
}
.account-login-question span{
	color: #002dd6;
	text-decoration: underline;
}
.account-signin-log{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	margin-top: 15px;
	text-decoration: none;
}
/*account*/

.pastcomment{
	padding: 23px 45px 33px 40px;
	background-color: #fff;
	margin: 125px auto 0 auto;
	max-width: 838px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.pastcomment-title{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.pastcomment-input{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	background-color: #f6f6f6;
	margin-top: 17px;
}
.pastcomment-title-past{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.6px;
}
.pastcomment-title-block a{
	text-decoration: none;
	color: #000;
}
.pastcomment-title-block{
	font-style: italic;
	word-spacing: 10px;
}
.pastcomment-input-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 25px;
}
.pastcomment-input-img{
	margin-left: 18px;
}
.pastcomment-input-block-input{
	border: 1px solid #c2c2c2;
	padding-left: 10px;
	background-color: #fff;
	padding-right: 10px;
}
.pastcomment-input-block-input input{
	width: 476px;
	height: 40px;
}
.pastcomment-input-button{
	background-color: #383737;
	color: #ffffff;
	font-family: "Josefin Sans";
	font-size: 17px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 8px 15px 5px 15px;
	margin-left: 4px;
}
/*pastcomment*/

.comments{
	background-color: #fff;
	max-width: 838px;
	margin: 0 auto;
	margin-top: 47px;
	padding: 15px 54px 56px 20px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.comments-all-imgf{
	width: 57px;
	height: 56px;
}
.comments-line{
	width: 100%;
	max-width: 743px;
}
.comments-all{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 31px;
}
.comments-all-text{
	margin-left: 21px;
}
.comments-all-left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.comments-all-text-one{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 3px;
}
.comments-all-left-one{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;
	margin-bottom: 5px;
}
.comments-all-left-two{
	color: #629494;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 700;
	text-decoration: underline;
	letter-spacing: 0.3px;
	margin-left: 10px;
	margin-top: 2px;
}
.comments-all-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.comments-all-right{
	margin-left: 360px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.comments-all-right span:not(:first-child){
	margin-left: 12px;
}
.comments-all-right span:nth-child(1){
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.3px;
}
.comments-all-right span:nth-child(3){
	color: #555555;
	font-size: 12px;
	font-weight: 400;
	font-family: "Josefin Sans";
}
.comments-all-text-num{
	color: #629494;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.3px;
}
.comments-all-text-thanks{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.comments-all-block2{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 18px;
}
.comments-all-block2-img{
	margin-right: 22px;
	width: 57px;
	height: 56px;
} 
.comments-all-block2 .comments-all-right{
	margin-top: -20px;
}
.comments-all-block2-lt{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 900;
	letter-spacing: 0.4px;
	margin-top: 7px;
}
.comments-all-block2 .comments-all-right{
	margin-left: 500px;
}
.comments-all-block2-mini-p{
	text-align: center;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
	margin-top: 24px;
	margin-bottom: 14px;
}
.comments-all-block2-mini-p2{
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.comments-all-right2{
	transform: translateX(80px);
}
/*comments*/

.lister{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin: 44px auto 0 auto;
	background-color: #fff;
	max-width: 838px;
	height: 92px;
	color: #000000;
	font-family: "Josefin Sans";
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.45px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.lister{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	padding-left: 320px;
	padding-right: 320px;
	text-align: center;
}
.lister span{
	margin: 0;
}
.lister .slick-arrow{
	position: absolute;
	z-index: 10;
	font-size: 0;
	height: 12px;
	width: 8px;
}
.lister .slick-arrow.slick-prev{
	left: 34%;
	background: #fff url(../img/Left_Icon.png) 0 0 / 100% no-repeat;
}
.lister .slick-arrow.slick-next{
 	right: 34%;
 	background: #fff url(../img/Right_Icon.png) 0 0/ 100% no-repeat;
}
.lister .slick-arrow.slick-disabled{
	opacity: 0.5;
}
/*lister*/

.footer{
	background-color: #2f2f2f;
	margin-top: 150px;
	padding: 72px 53px 55px 86px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
}
.footer-nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.footer-nav div{
	margin-right: 15px;
}
.footer-block-year{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.footer-nav-item{
	color: #fefefe;
 	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	opacity: 0.5;
}
.footer-nav-item a{
	color: #fefefe;
	text-decoration: none;
}
.footer-block-year p{
	color: #fefefe;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}
.footer-block-year p{
	color: #fefefe;
	font-family: "Josefin Sans";
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	opacity: 0.5;
	margin-top: 3px;
	margin-left: 4px;
}
.footer-socset{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
}
.footer-socset a{
	color: #555555;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}
.footer-socset a:not(:last-child){
	margin-right: 12px;
}
/*footer*/
@media(max-width: 1427px){
	.eatinfo{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.eatinfo-imaga{
		width: 100%;
	}
	.receptes-blocks{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin: 0 auto;
	}
	.receptes-blocks-item{
		margin: 0 auto;
		margin-top: 30px;
	}
	.alotof{
		justify-content: center;
	}
	.alotof-fre{
		margin-left: 20px;
		margin-top: 40px;
	}
	body{
		padding-left: 30px;
		padding-right: 30px;
	}
	.Eror{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.Eror-block-left{
		margin-bottom: 30px;
	}
	.logo-image{
		display: none;
	}
	.header{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding: 34px 14px;
	}
	.header-search-all{
		margin-top: 30px;
	}
	.account{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	}
	.account-login{
		margin-left: 85px;
		margin-bottom: 30px;
	}
	.pastcomment-input-block-input{

	}
	.pastcomment-input-block-input input{
		width: 376px;
		height: 40px;
	}
}
@media(max-width: 1050px){
		.footer-block{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
	.footer-nav{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		order: 5
	}
	.footer-nav>div:first-child{
		margin-top: 10px;
	}
	.footer-nav>div{
		margin-bottom: 10px;
	}
	.footer-block-year{
		-webkit-order: 10;
		-moz-order: 10;
		-ms-order: 10;
		-o-order: 10;
		order: 10;
	}
	.footer-socset{
		order: -5;
	}
	.slider__item{
		background: #fff url(../img/Photo.png)  right -7px no-repeat;
		position: relative;
		background-position: 10px 0px;
	}
}
@media(max-width: 974px){
	.alotof{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center; -ms-align-items: center;
		align-items: center;
	}
	.alotof-one{
		margin-bottom: 30px;
		margin-left: 20px;
	}
	.account{
		margin-right: 70px;
	}

}
@media(max-width: 896px){
	.comments-all-block{
		justify-content: flex-start;
	}
	.comments-all-right{
		margin-left: 160px;
	}
	.comments-all-block2 .comments-all-right{
		margin-left: 300px;
	}
	.lister{
		padding-left: 260px;
		padding-right: 260px;
	}

}
@media(max-width: 765px){
	.pastcomment-input-block-input input{
		width: 276px;
		height: 40px;
	}
}
@media(max-width: 657px){
	.pastcomment-input-block-input input{
		width: 176px;
		height: 40px;
	}
	.comments{
		display: none;
	}
	.pastcomment{
		display: none;
	}
	.lister{
		display: none;
	}
}
@media(max-width: 553px){
	.pastcomment-input-block-input input{
		width: 76px;
		height: 40px;
	}
}