.container {
   max-width: 1345px;
   margin: 0 auto;
}
.title {
   font-family: "Martel", sans-serif;
   font-size: 48px;
   line-height: 60px;
   text-transform: uppercase;
   color: #333333;
   padding: 0 20px;
}
@media (max-width: 539px) {
   .title {
      line-height: 30px;
      font-size: 25px;
   }
}
.button {
   a {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      color: #c60c30;
      display: inline-block;
      border-radius: 5px;
   }
}

.red-button {
   a {
      color: #ffffff;
      background: #c60c30;
      padding: 18px 57px;
   }
}
.transparent-button {
   a {
      color: #c60c30;
      border: 2px solid #c60c30;
      box-sizing: border-box;
      padding: 16px 59px;
   }
}
@media (max-width: 539px) {
   .button {
      a {
         font-size: 16px;
      }
   }
   .red-button {
      a {
         padding: 15px 37px;
      }
   }
   .transparent-button {
      a {
         padding: 13px 39px;
      }
   }
}
@media (max-width: 328px) {
   .button {
      a {
         font-size: 16px;
      }
   }
   .red-button {
      a {
         padding: 12px 27px;
      }
   }
   .transparent-button {
      a {
         padding: 10px 29px;
      }
   }
}

.header {
   .active-menu {
      right: 0;
   }
}
