@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.orange-button {
  display: inline-block;
  position: relative;
}

.orange-button a {
  color: #e3a062;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.32px;
  padding-bottom: 9px;
}

.orange-button a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e3a062;
  bottom: -7px;
}

.orange-button:hover a {
  color: #ffffff;
}

.orange-button:hover a:before {
  background-color: #ffffff;
}

.big-button {
  display: inline-block;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.32px;
  position: relative;
}

.big-button a {
  border: 2px solid #e3a062;
  color: #000000;
  padding: 16px 70px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.big-button a:hover {
  -webkit-box-shadow: 0 0 10px rgba(227, 160, 98, 0.5);
          box-shadow: 0 0 10px rgba(227, 160, 98, 0.5);
}

.aside {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  color: #e3a062;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.39px;
}

.aside span {
  position: relative;
}

.aside::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #e3a062;
  top: 50%;
  right: -66px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  background-image: url("../img/wrapper-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  color: #ffffff;
  padding: 42px 47px 46px 43px;
  color: #fff;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-text {
  letter-spacing: 0.6px;
  opacity: 0.99;
  text-transform: uppercase;
  margin-left: 11px;
}

.header__logo-title {
  font-family: "Playfair Display", sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.header__logo-title a {
  color: #ffffff;
}

.header__logo-sub {
  font-family: "Proxima Nova";
  font-size: 9px;
  font-weight: 400;
  margin-top: 7px;
}

.header__logo-sub a {
  color: #ffffff;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav li {
  margin-right: 38px;
}

.header__nav li:hover a {
  color: #e3a062;
}

.header__nav li:last-child {
  margin-right: 0;
}

.header__nav a {
  opacity: 0.99;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.35px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger.active::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6px;
}

.header__burger.active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger {
  z-index: 11;
  cursor: pointer;
  display: block;
  position: relative;
  width: 14px;
  height: 11px;
  margin-right: 10px;
}

.header__burger span {
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #e3a062;
  left: 0;
  top: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger::before,
.header__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e3a062;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__burger::before {
  bottom: 2px;
}

.header__burger::after {
  top: 0px;
}

.header__menu-body {
  z-index: 10;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0a0a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow: auto;
  font-size: 100px;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-body li {
  position: relative;
  margin-top: 100px;
}

.header__menu-body li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}

.header__menu-body li:hover a {
  color: #e3a062;
}

.header__menu-body li:hover img {
  opacity: 1;
  visibility: visible;
}

.header__menu-body li:first-child img {
  top: 0;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.header__menu-body li:last-child img {
  top: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__menu-body img {
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  position: absolute;
  left: 500px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  max-height: 1000px;
  max-width: 1000px;
}

.header__menu-body.active {
  top: 0;
}

.header__menu-text {
  opacity: 0.99;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  cursor: pointer;
  z-index: 11;
}

.wrapper__slider {
  height: 100%;
}

.wrapper__slider-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-slider {
  position: relative;
}

.wrap-slider__center {
  margin: 0 auto;
}

.wrap-slider__title {
  margin-top: 50%;
  color: #e3a062;
  font-family: "Playfair Display", sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 3px;
  margin-bottom: 39px;
}

.wrap-slider__sub {
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  max-width: 353px;
  margin-bottom: 60px;
}

.wrap-slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.wrap-slider__socset a {
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.wrap-slider__socset a:hover {
  color: #e3a062;
}

.wrap-slider__socset span {
  padding: 0 10px;
}

.wrap-slider__slide-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-slider__num {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 26px;
  font-weight: 700;
  /* Text style for "01" */
  letter-spacing: 0.36px;
}

.wrap-slider__line {
  width: 164px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.55;
  margin: 0 20px;
}

.wrap-slider__num2 {
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.36px;
}

.wrap-slider__scroll a {
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.wrap-slider__scroll a:hover {
  color: #e3a062;
}

/* Ограничивающая оболочка */

.slick-list {
  height: 100%;
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Стрелка */

.wrapper__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  letter-spacing: 0.28px;
  color: #e3a062;
  cursor: pointer;
}

.wrapper__slider .arrows-text {
  position: relative;
}

/* Стрелка влево */

.wrapper__slider .slick-arrow.slick-prev {
  left: 0;
}

.wrapper__slider .slick-arrow.slick-prev::before {
  content: "";
  width: 47px;
  height: 1px;
  background-color: #e3a062;
  position: absolute;
  right: -60px;
  top: 45%;
}

/* Стрелка вправо */

.wrapper__slider .slick-arrow.slick-next {
  right: 0;
}

.wrapper__slider .slick-arrow.slick-next::before {
  content: "";
  width: 47px;
  height: 1px;
  background-color: #e3a062;
  position: absolute;
  left: -60px;
  top: 45%;
}

/* Стрелка не активная */

.wrapper__slider .slick-arrow.slick-disabled {
  color: #ffffff;
}

.about {
  position: relative;
  padding: 119px 20px;
}

.about .aside {
  bottom: 150px;
  right: 0;
}

.about__bg {
  opacity: 0.22;
  color: #e3a062;
  font-family: "Playfair Display", sans-serif;
  font-size: 300px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.71px;
  position: absolute;
}

.about__a {
  top: 70px;
  right: 65px;
}

.about__s {
  left: 90px;
  bottom: -120px;
  z-index: 2;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info {
  margin-left: 90px;
}

.about__title {
  color: #000000;
  font-family: "Playfair Display", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  letter-spacing: 1.63px;
}

.about__title::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 2px;
  background-color: #e3a062;
  bottom: -26px;
}

.about__text {
  color: #000000;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.4px;
  max-width: 400px;
  margin: 62px 0px 42px 0px;
}

.services__body > .orange-button {
  margin-left: 91%;
  margin-top: 14px;
}

.services__body > .orange-button a {
  color: #fff;
}

.services {
  position: relative;
  padding: 43px 40px 0 40px;
  background-image: url("../img/services-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.services .aside {
  left: 128px;
  bottom: 90px;
}

.services__body {
  max-width: 1138px;
  margin: 0 auto;
  -webkit-transform: translateY(75px);
      -ms-transform: translateY(75px);
          transform: translateY(75px);
}

.services__title {
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1.63px;
  position: relative;
}

.services__title::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 2px;
  background-color: #e3a062;
  bottom: -32px;
  left: 0;
}

.serv-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.serv-block__item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  position: relative;
  margin-top: 78px;
}

.serv-block__item:hover .serv-block__bg {
  background: rgba(0, 0, 0, 0.9);
}

.serv-block__item:hover .serc-item-hov {
  opacity: 1;
  visibility: visible;
}

.serv-block__item:hover .serv-block__text {
  display: none;
}

.serv-block__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.serv-block__text {
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.65px;
  margin-bottom: 28px;
  display: block;
}

.serc-item-hov {
  width: 312px;
  height: 312px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #e3a062;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  opacity: 0;
  visibility: hidden;
}

.serc-item-hov__title {
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.65px;
  position: relative;
}

.serc-item-hov__title::before {
  content: "";
  width: 36px;
  height: 2px;
  background-color: #e3a062;
  position: absolute;
  bottom: -17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.serc-item-hov__text {
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 41px 0px 37px 0px;
}

.projects {
  padding: 189px 0 115px 0;
  text-align: center;
  position: relative;
}

.projects .about__a {
  top: 200px;
}

.projects .about__s {
  bottom: -150px;
}

.projects .aside {
  right: 161px;
}

.projects__title {
  color: #000000;
  font-family: "Playfair Display", sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1.63px;
  position: relative;
}

.projects__title::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 2px;
  background-color: #e3a062;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.projects__gallery {
  overflow: hidden;
  margin-top: 87px;
}

.projects__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 48px;
  -webkit-transform: translateX(-53px);
      -ms-transform: translateX(-53px);
          transform: translateX(-53px);
}

.projects__top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.projects__top a:hover span {
  opacity: 1;
  visibility: visible;
}

.projects__top a span {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 43px;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.6);
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  overflow: hidden;
}

.projects__top img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 22px;
}

.projects__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: translateX(-263px);
      -ms-transform: translateX(-263px);
          transform: translateX(-263px);
  margin-bottom: 84px;
}

.projects__bottom img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 22px;
}

.projects__bottom a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.projects__bottom a:hover span {
  opacity: 1;
  visibility: visible;
}

.projects__bottom a span {
  width: 43px;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.6);
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.clients {
  padding: 313px 0 331px 0;
  background-image: url("../img/clients-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.clients .about__a {
  top: 100%;
  -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
          transform: translateY(-55%);
}

.clients .aside {
  bottom: 160px;
  left: 122px;
}

.clients__slider {
  color: #ffffff;
  text-align: center;
  position: relative;
}

.clients__item {
  display: inline-block;
  padding-top: 60px;
}

.clients__title {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.9px;
  position: relative;
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-weight: 400;
  max-width: 782px;
  margin: 0 auto;
}

.clients__title img {
  position: absolute;
  top: -60px;
  left: 0;
}

.clients__title::before {
  content: "";
  position: absolute;
  width: 129px;
  height: 2px;
  background-color: #e3a062;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.clients__name {
  font-family: "Proxima Nova", sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.66px;
  margin: 68px 0px 19px 0px;
}

.clients__typecar {
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.45px;
}

.wrapper__slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  letter-spacing: 0.28px;
  color: #e3a062;
  cursor: pointer;
}

/* Стрелка */

.clients__slider .slick-arrow {
  position: absolute;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 17px;
  height: 34px;
  background-color: transparent;
  top: 100px;
  z-index: 10;
}

/* Стрелка влево */

.clients__slider .slick-arrow.slick-prev {
  background-image: url("../img/arrow-left.png");
  left: 275px;
}

/* Стрелка вправо */

.clients__slider .slick-arrow.slick-next {
  background-image: url("../img/arrow-right.png");
  right: 275px;
}

/* Стрелка не активная */

.clients__slider .slick-arrow.slick-disabled {
  opacity: 0.5;
}

/* Стрелка */

.charger {
  position: relative;
  padding: 115px 0;
}

.charger .aside {
  right: 50px;
}

.charger__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.charger__info {
  padding: 53px 95px;
}

#charger-info__tex::-webkit-scrollbar {
  width: 2px;
  /* ширина для вертикального скролла */
  height: 0px;
  /* высота для горизонтального скролла */
  background-color: #b4b4b4;
}

/* ползунок скроллбара */

#charger-info__tex::-webkit-scrollbar-thumb {
  background-color: #843465;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #e3a062;
          box-shadow: inset 1px 1px 10px #e3a062;
}

.charger-info__title {
  color: #000000;
  font-family: "Playfair Display", sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1.63px;
  position: relative;
}

.charger-info__title::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 2px;
  bottom: -22px;
  left: 0;
  background-color: #e3a062;
}

.charger-info__text {
  letter-spacing: 0.4px;
  line-height: 21px;
  font-family: "Proxima Nova", sans-serif;
  max-width: 370px;
  font-weight: 400;
  max-height: 250px;
  overflow: scroll;
  padding-right: 20px;
  margin: 56px 0px 40px 0px;
}

.charger-info__text div {
  padding-left: 32px;
  position: relative;
}

.charger-info__text div::before {
  content: "T";
  position: absolute;
  color: #e3a062;
  font-size: 50px;
  letter-spacing: 1.25px;
  line-height: 24px;
  left: 0;
  top: 12px;
}

.footer {
  background-color: #000000;
  padding: 40px 20px 0;
}

.footer__body {
  max-width: 1139px;
  margin: 0 auto;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav a {
  color: #ffffff;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  margin-left: 38px;
}

.footer__nav a:hover {
  color: #e3a062;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  color: #7b7b7b;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 76px;
  letter-spacing: 2.1px;
}

.footer__copy span {
  color: #ffffff;
}

@media (max-width: 1569px) {
  .services .aside {
    left: 30px;
  }
}

@media (max-width: 1338px) {
  .services .aside {
    left: -20px;
  }

  .clients__title {
    font-size: 30px;
    max-width: 500px;
    line-height: 38px;
  }

  .clients__name {
    font-size: 25px;
  }
}

@media (max-width: 1280px) {
  .header__menu-body {
    font-size: 80px;
  }

  .header__menu-body img {
    left: 400px;
    max-width: 500px;
    max-height: 500px;
  }

  .serv-block__item {
    width: 100%;
    height: 350px;
    position: relative;
    margin-top: 58px;
  }

  .services .aside {
    left: -30px;
  }

  .clients {
    padding: 200px 0;
  }
}

@media (max-width: 1186px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__info {
    margin: 0 auto;
    margin-top: 30px;
  }

  .clients__slider .slick-arrow.slick-prev {
    left: 175px;
  }

  .clients__slider .slick-arrow.slick-next {
    right: 175px;
  }

  .charger__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .charger__info {
    padding: 53px 0;
  }
}

@media (max-width: 980px) {
  .header__menu-body li:hover a {
    color: #fff;
  }

  .header__menu-body img {
    left: 300px;
    max-width: 500px;
    max-height: 500px;
  }

  .wrap-slider__title {
    font-size: 100px;
    margin-bottom: 25px;
  }

  .wrap-slider__sub {
    margin-bottom: 50px;
  }

  .services__body > .orange-button {
    margin-left: 85%;
  }

  .clients__slider .slick-arrow.slick-prev {
    left: 75px;
  }

  .clients__slider .slick-arrow.slick-next {
    right: 75px;
  }

  .clients .aside {
    left: 20px;
  }
}

@media (max-width: 768px) {
  .header__menu-body img {
    display: none;
  }

  .wrap-slider__scroll {
    display: none;
  }

  .wrap-slider__title {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 25px;
  }

  .wrap-slider__sub {
    margin-bottom: 50px;
  }

  .slick-arrow {
    top: 40%;
  }

  .header__nav li:hover a {
    color: #ffffff;
  }

  .wrap-slider__socset a:hover {
    color: #ffffff;
  }

  .serv-block__item .serc-item-hov {
    opacity: 1;
    visibility: visible;
  }

  .serv-block__bg {
    background: rgba(0, 0, 0, 0.9);
  }

  .serv-block__text {
    display: none;
  }
}

@media (max-width: 716px) {
  .wrapper {
    padding: 20px;
  }

  .header__logo-title {
    font-size: 18px;
  }

  .header__logo-sub {
    margin-top: 5px;
  }

  .header__menu-body {
    padding: 20px;
    font-size: 60px;
  }

  .header__menu-body img {
    left: 230px;
    max-width: 500px;
    max-height: 500px;
  }

  .about__img {
    text-align: center;
  }

  .about__img img {
    width: 70%;
  }

  .projects .aside {
    right: 30px;
  }

  .clients__title {
    font-size: 25px;
    max-width: 300px;
    line-height: 28px;
  }

  .clients__name {
    font-size: 20px;
  }

  .clients__typecar {
    font-size: 15px;
  }

  .clients__name {
    margin: 38px 0px 9px 0px;
  }

  .clients__title::before {
    bottom: -15px;
  }

  .clients {
    padding: 100px 0;
  }

  .about__bg {
    font-size: 200px;
  }

  .projects .about__s {
    bottom: -100px;
  }

  .about__s {
    bottom: -100px;
  }

  .projects .about__a {
    top: 280px;
  }

  .clients__title img {
    width: 30%;
    top: -40px;
  }

  .clients .aside {
    bottom: 70px;
  }

  .charger__img {
    text-align: center;
  }

  .charger__img img {
    width: 80%;
  }
}

@media (max-width: 630px) {
  .slick-arrow.slick-prev::before {
    width: 15px;
    right: -25px;
  }

  .slick-arrow.slick-next::before {
    width: 15px;
    left: -25px;
  }

  .wrap-slider__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 25px;
  }

  .wrap-slider__sub {
    margin-bottom: 30px;
  }

  .services__body > .orange-button {
    margin-left: 82%;
  }

  .charger .aside {
    right: -20px;
  }

  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }

  .footer__copy {
    line-height: 26px;
  }

  .footer {
    padding: 40px 20px 30px;
  }
}

@media (max-width: 573px) {
  .header__nav a {
    font-size: 12px;
  }

  .header__nav li {
    margin-right: 20px;
  }

  .header__menu-text {
    font-size: 12px;
  }

  .header__logo-title {
    font-size: 15px;
  }

  .header__logo-sub {
    font-size: 8px;
    margin-top: 3px;
  }

  .header__logo-text {
    margin-left: 6px;
  }

  .about .aside {
    bottom: 47px;
  }

  .wrapper {
    padding: 10px;
  }

  .header__logo-text {
    display: none;
  }

  .footer .header__logo-text {
    display: block;
  }

  .wrap-slider__center {
    text-align: center;
  }

  .wrap-slider__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrap-slider__sub {
    max-width: 200px;
    margin: 0 auto 30px;
  }

  .services__body > .orange-button {
    margin-left: 75%;
  }

  .clients__title {
    font-size: 20px;
    max-width: 250px;
    line-height: 25px;
  }

  .clients__name {
    font-size: 18px;
  }

  .clients__typecar {
    font-size: 14px;
  }

  .clients__name {
    margin: 28px 0px 9px 0px;
  }

  .clients .aside {
    left: -20px;
  }

  .charger .aside {
    bottom: 70px;
  }
}

@media (max-width: 498px) {
  .charger {
    padding: 60px 30px;
  }

  .charger .aside {
    right: -40px;
  }

  .footer__nav a {
    margin-left: 10px;
  }
}

@media (max-width: 457px) {
  .serc-item-hov {
    width: 80%;
    height: 80%;
  }

  .serc-item-hov__text {
    font-size: 14px;
    line-height: 19px;
  }

  .clients__slider .slick-arrow.slick-next {
    right: 30px;
  }

  .clients__slider .slick-arrow.slick-prev {
    left: 30px;
  }

  .clients .aside {
    left: -30px;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__nav {
    margin-top: 30px;
  }

  .footer .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 406px) {
  .wrapper {
    padding: 20px;
  }

  .header__logo {
    display: none;
  }

  .slick-arrow {
    top: 44%;
  }

  .services__body > .orange-button {
    margin-left: 65%;
  }

  .projects .aside {
    right: -20px;
  }

  .clients__title {
    max-width: 230px;
  }
}

@media (max-width: 329px) {
  .header__nav a {
    font-size: 11px;
  }

  .header__nav li {
    margin-right: 10px;
  }

  .header__menu-text {
    font-size: 11px;
  }
}

.webp .wrapper{ background-image: url(../img/wrapper-bg.webp); }

.webp .services{ background-image: url(../img/services-bg.webp); }

.webp .clients{ background-image: url(../img/clients-bg.webp); }

.webp .clients__slider .slick-arrow.slick-prev{ background-image: url(../img/arrow-left.webp); }

.webp .clients__slider .slick-arrow.slick-next{ background-image: url(../img/arrow-right.webp); }