@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "bebasneuebold";
  font-display: swap;
  src: url("../fonts/bebasneuebold.woff") format("woff"), url("../fonts/bebasneuebold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "bebasneuebook";
  font-display: swap;
  src: url("../fonts/bebasneuebook.woff") format("woff"), url("../fonts/bebasneuebook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bebasneuethin";
  font-display: swap;
  src: url("../fonts/bebasneuethin.woff") format("woff"), url("../fonts/bebasneuethin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bebasneuelight";
  font-display: swap;
  src: url("../fonts/bebasneuelight.woff") format("woff"), url("../fonts/bebasneuelight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-BlackCond";
  font-display: swap;
  src: url("../fonts/HelveticaNeue-BlackCond.woff") format("woff"), url("../fonts/HelveticaNeue-BlackCond.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bebasneueregular";
  font-display: swap;
  src: url("../fonts/bebasneueregular.woff") format("woff"), url("../fonts/bebasneueregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background: #f2e9bc;
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu {
  width: 67px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f1e0;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 9px 19px;
  border-bottom: 1px solid rgba(205, 204, 195, 0.27);
  margin: 0 8px;
}

.menu__tеxtlogo {
  font-style: normal;
  font-weight: 600;
  font-size: 20.6px;
  line-height: 25px;
  margin-left: 22px;
  display: none;
}

.menu__tеxtlogo a {
  color: #1d2570;
}

.nav-menu {
  margin-top: 37px;
}

.nav-menu__image {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  margin-left: 16px;
}

.nav-menu__item:hover {
  opacity: 0.7;
}

.nav-menu__about {
  margin-left: 22px;
  font-size: 13.6px;
  line-height: 17px;
  display: none;
}

.nav-menu__about a {
  color: #000000;
}

.opportunities-menu__image {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.opportunities-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
}

.opportunities-menu__item:nth-child(1) {
  margin-bottom: 44px;
}

.opportunities-menu__item:nth-child(2) {
  margin-bottom: 44px;
}

.opportunities-menu__item:nth-child(3) {
  margin-bottom: 17px;
}

.opportunities-menu__item:nth-child(3):hover {
  margin-bottom: 17px;
}

.opportunities-menu__item:nth-child(3):hover img {
  -webkit-animation: rotateSettings 3s Linear infinite;
          animation: rotateSettings 3s Linear infinite;
}

.opportunities-menu__item-off {
  display: none;
}

.opportunities-menu__about {
  margin-left: 22px;
  font-size: 13.6px;
  line-height: 17px;
  display: none;
}

.opportunities-menu__about a {
  color: #000000;
}

.opportunities-menu__item-open {
  padding: 25px 9px;
  border-top: 1px solid rgba(205, 204, 195, 0.27);
  margin: 0 8px;
}

@-webkit-keyframes rotateSettings {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateSettings {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.openArrow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block__slider {
  background: #fefefe;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  padding: 26px;
  max-width: 1088px;
}

.slider-block__complexity {
  margin-left: 17px;
  margin-bottom: 26px;
}

.slider-block__circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.slider-block__circle:nth-child(1) {
  background-color: #ff934d;
}

.slider-block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-block__img {
  margin-right: 18px;
}

.slider-b-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-b-body__title {
  font-size: 43px;
  line-height: 52px;
  color: #000000;
  border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  padding-bottom: 11px;
  margin-bottom: 11px;
}

.slider-b-body__sub {
  font-size: 23px;
  line-height: 28px;
  color: #6776ac;
}

.slider-b-body__goshow {
  max-height: auto;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider-b-body__show {
  font-size: 23px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-b-body__show img {
  cursor: pointer;
}

.slider-b-body__show picture {
  height: 10px;
}

.slider-b-body__example {
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}

.slider-b-body__text {
  font-size: 17px;
  line-height: 21px;
  color: #6776ac;
}

.slider-b-body__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider-b-body__get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider-b-body__get span:nth-child(1) {
  font-size: 23px;
  line-height: 28px;
  color: #000000;
}

.slider-b-body__get span:nth-child(2) {
  border: 1px solid #000000;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.slider-b-body__more {
  font-size: 23px;
  line-height: 28px;
  color: #000000;
}

.lvl-block {
  background: #fefefe;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 41px;
  padding-top: 2px;
}

.lvl-block__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  font-size: 23px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  padding: 5px 0;
}

.lvl-block__item:not(:last-child) {
  border-right: 1px solid #000000;
}

.bar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 85px;
}

.bar-block__numone {
  font-weight: 500;
  font-size: 20.6px;
  line-height: 25px;
  color: #000000;
}

.bar-block__line {
  height: 10px;
  width: 100%;
  background-color: #c4bd98;
  border-radius: 20px;
  position: relative;
  margin: 0 9px;
}

.bar-block__linebar {
  width: 20%;
  height: 100%;
  background-color: #53588c;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.bar-block__numtwo {
  font-weight: 500;
  font-size: 20.6px;
  line-height: 25px;
  color: #000000;
}

.slider-block .swiper-button-prev {
  background-image: url("../img/prev.png");
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 46%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.slider-block .swiper-button-next {
  background-image: url("../img/next.png");
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 46%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.slider-block .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -48px;
  right: auto;
}

.slider-block .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -48px;
  left: auto;
}

.slider-block .swiper-button-disabled {
  display: none;
}

.settings {
  color: #000000;
  background: #fefefe;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  display: inline-block;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  padding: 26px 37px;
}

.settings__set {
  font-size: 35px;
  line-height: 43px;
  border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  padding-bottom: 16px;
  margin-bottom: 19px;
}

.settings__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.settings__text {
  font-size: 21px;
  line-height: 26px;
}

.settings__square-big {
  width: 52px;
  height: 29px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.settings__square {
  border: 1px solid #000000;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  margin-left: 53px;
}

.settings__logout {
  margin-top: 50px;
}

.settings__logout a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  padding: 10px 114px;
  background: #f4f1e0;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
}

.vocabulary {
  background: #fefefe;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #000000;
  display: inline-block;
  padding: 30px;
}

.vocabulary__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vocabulary__about {
  font-size: 35px;
  line-height: 43px;
}

.vocabulary__trening a {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 12px 41px;
  background: #f4f1e0;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
}

.vocabulary__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 17px 0;
}

.vocabulary__info-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  padding: 7px 71px;
  display: inline-block;
  width: 338px;
  border-top: 1px solid rgba(205, 204, 195, 0.56);
  border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  text-align: center;
}

.vocabulary__info-title:nth-child(2) a {
  border: 1px solid rgba(205, 204, 195, 0.56);
}

.vocabulary__info-title:hover {
  background-color: rgba(205, 204, 195, 0.56);
}

.vocabulary__num {
  font-size: 21px;
  line-height: 26px;
  border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  padding-bottom: 9px;
  margin-bottom: 16px;
}

.template-vocabulary__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-vocabulary__restore a {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.template-vocabulary__info {
  margin-bottom: 16px;
}

.template-vocabulary__word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.template-vocabulary__word span {
  margin-right: 10px;
  font-size: 20px;
  line-height: 24px;
}

.template-vocabulary__example {
  margin-top: 15px;
}

.template-vocabulary__example span:nth-child(1) {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.template-vocabulary__example span:nth-child(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #6776ac;
}

.template-vocabulary__value {
  margin-bottom: 8px;
}

.template-vocabulary__value span:nth-child(1) {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.template-vocabulary__value span:nth-child(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #6776ac;
}

.template-vocabulary__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 22px;
}

.template-vocabulary__time div {
  margin-right: 20px;
}

.template-vocabulary__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}

.template-vocabulary__body {
  border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.complexity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.complexity__circle {
  width: 10px;
  height: 10px;
  background: #c4c4c4;
  margin-right: 5px;
  border-radius: 50%;
}

.complexity__circle:nth-child(1) {
  background: #ff934d;
}

.statistics {
  padding: 26px 37px;
  background: #fefefe;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.statistics__title {
  font-size: 35px;
  line-height: 43px;
  color: #000000;
  border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  padding-bottom: 13px;
}

.statistics__graph {
  position: relative;
  width: 1014px;
  height: 514px;
  background-color: #c4c4c4;
  margin: 32px 0px 40px 0px;
}

.statistics__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 43px;
  color: #000000;
}

.webp .slider-block .swiper-button-prev{ background-image: url(../img/prev.webp); }

.webp .slider-block .swiper-button-next{ background-image: url(../img/next.webp); }