@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "bebasneuebold";
  font-display: swap;
  src: url("../fonts/bebasneuebold.woff") format("woff"), url("../fonts/bebasneuebold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "bebasneuebook";
  font-display: swap;
  src: url("../fonts/bebasneuebook.woff") format("woff"), url("../fonts/bebasneuebook.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bebasneuethin";
  font-display: swap;
  src: url("../fonts/bebasneuethin.woff") format("woff"), url("../fonts/bebasneuethin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bebasneuelight";
  font-display: swap;
  src: url("../fonts/bebasneuelight.woff") format("woff"), url("../fonts/bebasneuelight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-BlackCond";
  font-display: swap;
  src: url("../fonts/HelveticaNeue-BlackCond.woff") format("woff"), url("../fonts/HelveticaNeue-BlackCond.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bebasneueregular";
  font-display: swap;
  src: url("../fonts/bebasneueregular.woff") format("woff"), url("../fonts/bebasneueregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background: #f2e9bc;
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu {
  width: 67px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f4f1e0;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 9px 19px;
  border-bottom: 1px solid rgba(205, 204, 195, 0.27);
  margin: 0 8px;
}

.menu__tеxtlogo {
  font-style: normal;
  font-weight: 600;
  font-size: 20.6px;
  line-height: 25px;
  margin-left: 22px;
  display: none;
}

.menu__tеxtlogo a {
  color: #1d2570;
}

.nav-menu {
  margin-top: 37px;
}

.nav-menu__image {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  margin-left: 16px;
}

.nav-menu__about {
  margin-left: 22px;
  font-size: 13.6px;
  line-height: 17px;
  display: none;
}

.nav-menu__about a {
  color: #000000;
}

.opportunities-menu__image {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.opportunities-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
}

.opportunities-menu__item:nth-child(1) {
  margin-bottom: 44px;
}

.opportunities-menu__item:nth-child(2) {
  margin-bottom: 44px;
}

.opportunities-menu__item:nth-child(3) {
  margin-bottom: 17px;
}

.opportunities-menu__item-off {
  display: none;
}

.opportunities-menu__about {
  margin-left: 22px;
  font-size: 13.6px;
  line-height: 17px;
  display: none;
}

.opportunities-menu__about a {
  color: #000000;
}

.opportunities-menu__item-open {
  padding: 25px 9px;
  border-top: 1px solid rgba(205, 204, 195, 0.27);
  margin: 0 8px;
}

.openArrow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}